*
{
    margin: 0;
    padding: 0;
}

html,
body
{
    background-color: rgb(197, 197, 197);
    overflow: hidden;
}

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
    z-index: 100;
}
#resize-button {
    position: fixed;
    bottom: 100px;
    left: 50%;
    width: 400px;
    text-align: center;
    font-size: 20px;
    padding: 0.3em;
    height: 100px;
    transform: translate(-50%,-50%);
    z-index: 200;
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.14);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.32);
    cursor: pointer;
}
#testbox{
    position: fixed;
    bottom: 450px;
    left: 50%;
    width: 400px;
    text-align: center;
    font-size: 20px;
    padding: 0.3em;
    height: 80px;
    transform: translate(-50%,-50%);
    z-index: 50;
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.14);
    border-radius: 4px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.32);
}

#logo{
    position: fixed;
    z-index: 15;
    width: 90%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}